* {
    font-family: 'Inter'; 
    color: white;
}

body.dark_theme {
    background-color: black;
}

body {
    background-color: white;
}

.about, .projects, .contact, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    display: inline-block;
    position: relative;
    font-size:3rem;
}
body > * > h2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    top: 1.75rem;
    left: 1.75rem;
    background: pink;
    z-index: -1;
}

body.dark_theme > * > h2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    top: 1.75rem;
    left: 1.75rem;
    background: #de3a3a;
    z-index: -1;
}
section {
    margin: 1rem;
    padding: 1rem;
}
body > * > h1 {
    color: black;
    text-align: center;
}
body.dark_theme > * > h1 {
    color: white;
    text-align: center;
}
body > * > h2 {
    color: rgba(40, 40, 40, 0.95);
}
body.dark_theme > * > h2 {
    color: white;
}


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    background-color: rgba(26, 26, 26, 0.25);
    height: 100vh;
    margin: -8px -8px 0px -8px;
}
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.header > * {
    font-size: 3rem;
    animation-duration: 2s;
}
.header > *:nth-child(1){
    animation-name: moveInLeft;
}
.header > *:nth-child(2){
    animation-name: moveInRight;
}
.header > *:nth-child(3){
    animation-name: moveInLeft;
}
.header > * > span {
    color: #de3a3a;
}
.header > a {
    background-color: #de3a3a;;
    border-radius: 20px;
    text-decoration: none;
    border-bottom: 1px solid #1a1a1a;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    transition: all .2s ease-in-out; 
}
a:hover {
    transform: scale(1.05);
}
.header > a > p {
    margin: 1rem;
}
body > .header {
    background-color: white;
}
body.dark_theme > .header {
    background-color:  rgba(40, 40, 40, 0.95);
}
body > .header > a > p {
    color: rgba(40, 40, 40, 0.95);
}
body.dark_theme > .header > a > p {
    color:white;
}


.navigation_bar {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    background-color: rgba(40, 40, 40, 0.95);
    border-bottom: 1px solid #1a1a1a;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    height: 3rem;
    margin: 0px -8px 0px -8px;
    z-index: 99;
    font-size: 22px;
}
.navigation_list {
    display: flex;
    flex-direction: row;
}
.navigation_item {
    margin: 2rem;
    list-style-type: none;
}
.navigation_item > a {
    text-decoration: none;
    transition: color 0.5s;
}
.navigation_item > a:hover {
    color: #de3a3a;;
}
@media all and (max-width: 900px) {
    .navigation_bar {
        justify-content: center;
    }
}


.about_profile_picture {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    padding: 4px;
    margin: 6px;
}
.about_profile {
    width: 700px;
    line-height: 1.8;
    text-align: justify;
    font-size: 1.5rem;
    padding: 1rem;
}
.resume {
    width: 300px;
    border-bottom: 1px solid #1a1a1a;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
body > .about > p {
    color: rgba(40, 40, 40, 0.95);
}
body.dark_theme > .about > p {
    color: white;
}
@media all and (max-width: 900px) {
    .about_profile {
        width: 300px;
        color: blue;
        font-size: 1rem;
    }
}


.projects > div > img {
    border-radius: 25px;
    height: 200px;
    width: 350px;
}


.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
body.dark_theme > .contact > .links > a > img {
    height: 100px;
    width: 100px;
    border-radius: 25%;
    padding: 4px;
    background-color: #de3a3a;
    margin: 10px;
    transition: all .2s ease-in-out; 
}
body > .contact > .links > a > img {
    height: 100px;
    width: 100px;
    border-radius: 25%;
    padding: 4px;
    background-color: pink;
    margin: 10px;
    transition: all .2s ease-in-out; 
}



footer {
    background-color: rgba(40, 40, 40, 0.95);
    border-bottom: 1px solid #1a1a1a;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    margin: -8px;
    padding: -8px;
    margin-top: 5rem;
}



body.dark_theme > .lightmode {
    height: 7rem;
    width: 7rem;
    background-color:cadetblue;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
    opacity: 50%;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}
body > .lightmode {
    height: 7rem;
    width: 7rem;
    background-color: red;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
    opacity: 50%;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    border-bottom: 1px solid #1a1a1a;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.lightmode > p {
    opacity: 0%;
    text-align: center;
    padding: 1.75rem 0;
    color: white;
    transition: all .5s ease-in;
    transition: all .1s ease-out;
}
body.dark_theme > .lightmode > p {
    color: rgba(40, 40, 40, 0.95);
}
.lightmode:hover, .lightmode:hover > p {
    transform: scale(1.1);
    opacity: 100%;
}