* {
    font-family: 'Inter'; 
    transition: all 1s ease-in-out;
    color: white;
}

body {
    background-color: white;
}

.about, .projects, .contact, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#page_content {
    margin: 0;
    padding: 10px;
    height: 100vh;
}

#contact_list > a > img {
    height: 100px;
    width: 100px;
    border-radius: 25%;
    margin: 1px;
}

#contact_list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: auto;
}

#contact_list > li {
    margin: 4px;
}

#page_container {
    min-height: 100vh;
    position: relative;
    max-width: 100vw;
}

body {
    margin:0;
    padding:0;
}

footer {
    background-color: rgba(40, 40, 40, 0.95);
    border-bottom: 1px solid #1a1a1a;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    margin: -8px;
    padding: -8px;
    margin-top: 5rem;
}

#about_me {
    background-color: #353a3b;
    padding: 20px;
    width: 50vw;
    margin: auto;
    border-radius: 50px;
    color: white;
    margin-top: 5rem;
}

#about_me > * {
    max-width: 50vw;
    display: flex;
    margin: auto;
}

#about_me > p {
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
}

#about_me > h1 {
    align-items: center;
    margin: auto;
    padding: 20px;
    color: white;
}

#about_me > hr {
    margin: 10px;
}

#post_content {
    background-color: rgba(40, 40, 40, 0.95);
    padding: 20px;
    width: 75vw;
    margin: auto;
    border-radius: 50px;
    color: white;
}

#post_content > * {
    max-width: 75vw;
    display: flex;
    margin: auto;
}

#post_content > p {
    align-items: center;
    margin: auto;
    padding: 20px;
}

#post_content > h1,h2 {
    align-items: center;
    margin: auto;
    padding: 10px;
    color: white;
}

#post_content > hr {
    margin: 10px;
}

hr:first-child {
    width: 30%;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: #353a3b;
    height: 100px;
    width: 100%;
} 

img {
    height: auto;
    width: auto;
}  

#input_table {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#numerical_inputs {
    display: flex;
    flex-direction: row;
    margin: 25px;
}

#numerical_inputs > * {
    margin: 20px;
    padding: 10px;
}

#selector_inputs {
    display: flex;
    flex-direction: row;
    margin: 25px;
}

#search {
    width: 100px;
    margin: 50px;
}


#input_table > div {
    padding: 10px;
    background-color: black;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

ul > li {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.results_table > * {
    margin: 10rm;
    padding: 10rm;
}

#thesis {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

#calculate_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: teal;
    font-weight: 900;
}

input {
    width: 8rem;
}

.results_table {
    padding-bottom: 1rem;
}

.total {
    height: 1rem;
}

#total_table {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}


.post_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: teal;
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
}

.navigation_bar {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    background-color: rgba(40, 40, 40, 0.95);
    border-bottom: 1px solid #1a1a1a;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    height: 3rem;
    margin: 0px -8px 0px -8px;
    z-index: 99;
    font-size: 22px;
}
.navigation_list {
    display: flex;
    flex-direction: row;
}
.navigation_item {
    margin: 2rem;
    list-style-type: none;
}
.navigation_item > a {
    text-decoration: none;
    transition: color 0.5s;
}
.navigation_item > a:hover {
    color: #de3a3a;;
}
@media all and (max-width: 700px) {
    .navigation_bar {
        justify-content: center;
    }
}